In [ ]:
import pandas as pd
df1=pd.read_csv('IPL_Ball_by_Ball_2008_2022.csv') #Ball by ball data
df2=pd.read_csv('IPL_Matches_2008_2022.csv') # Every match data

In [ ]:
df1.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0.0,1.0,1.0,0.0,0.0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Rajasthan Royals

In [ ]:
df2.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

**Joining the two datasets on common feature 'ID'**

In [ ]:
merged_df = pd.merge(df1, df2, on='ID')
merged_df

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,335982,2,14,5,P Kumar,I Sharma,SB Joshi,legbyes,0,1,...,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen
225950,335982,2,14,6,SB Joshi,I Sharma,P Kumar,NaN,1,0,...,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen
225951,335982,2,14,7,P Kumar,I Sharma,SB Joshi,NaN,0,0,...,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen
225952,335982,2,15,1,SB Joshi,LR Shukla,P Kumar,wides,0,1,...,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen
225953,335982,2,15,2,SB Joshi,LR Shukla,P Kumar,NaN,0,0,...,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [ ]:
merged_df.columns

Index(['ID', 'innings', 'overs', 'ballnumber', 'batter', 'bowler',
       'non-striker', 'extra_type', 'batsman_run', 'extras_run', 'total_run',
       'non_boundary', 'isWicketDelivery', 'player_out', 'kind',
       'fielders_involved', 'BattingTeam', 'City', 'Date', 'Season',
       'MatchNumber', 'Team1', 'Team2', 'Venue', 'TossWinner', 'TossDecision',
       'SuperOver', 'WinningTeam', 'WonBy', 'Margin', 'method',
       'Player_of_Match', 'Team1Players', 'Team2Players', 'Umpire1',
       'Umpire2'],
      dtype='object')

**1. Title Winner Each year**

In [ ]:
import pandas as pd

# Read the merged CSV file into a DataFrame
df = merged_df

# Convert the 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Group the DataFrame by 'Season'
season_groups = df.groupby('Season')

# Create an empty list to store the extracted rows
extracted_rows = []

# Iterate over each season group
for season, group in season_groups:
    # Find the index of the row with the maximum 'Date' value
    max_date_idx = group['Date'].idxmax()
    
    # Use the index to extract the row with the maximum 'Date' value
    max_date_row = group.loc[max_date_idx]
    
    # Append the extracted row to the list
    extracted_rows.append(max_date_row)
    
# Create a new DataFrame from the extracted rows
winning_teams = pd.DataFrame(extracted_rows, columns=['Season', 'WinningTeam'])

# Reset the index to show numbers starting from 1
winning_teams = winning_teams.reset_index(drop=True)
winning_teams.index += 1

# Print the new DataFrame
winning_teams

     Season            WinningTeam
1   2007/08       Rajasthan Royals
2      2009        Deccan Chargers
3   2009/10    Chennai Super Kings
4      2011    Chennai Super Kings
5      2012  Kolkata Knight Riders
6      2013         Mumbai Indians
7      2014  Kolkata Knight Riders
8      2015         Mumbai Indians
9      2016    Sunrisers Hyderabad
10     2017         Mumbai Indians
11     2018    Chennai Super Kings
12     2019         Mumbai Indians
13  2020/21         Mumbai Indians
14     2021    Chennai Super Kings
15     2022         Gujarat Titans

**2. Orange Caps (Batsman who scored most runs each season)**

In [ ]:
# Group the data by season and batsman and sum the runs scored
season_batsman_runs = merged_df.groupby(['Season', 'batter'])['batsman_run'].sum()

# Reset the index to turn the grouped columns back into regular columns
season_batsman_runs = season_batsman_runs.reset_index()

# Find the index of the maximum runs scored by each season
max_runs_season_batsman = season_batsman_runs.groupby('Season')['batsman_run'].idxmax()

# Use the index to get the rows with the maximum runs scored by each season and batsman
max_runs_season_batsman_rows = season_batsman_runs.loc[max_runs_season_batsman]

# Print the names of the players who scored maximum runs each season
for season, batter in zip(max_runs_season_batsman_rows['Season'], max_runs_season_batsman_rows['batter']):
    print(f"{season}            {batter} ")

2007/08            SE Marsh
2009            ML Hayden
2009/10            SR Tendulkar
2011            CH Gayle
2012            CH Gayle
2013            MEK Hussey
2014            RV Uthappa
2015            DA Warner
2016            V Kohli
2017            DA Warner
2018            KS Williamson
2019            DA Warner
2020/21            KL Rahul
2021            RD Gaikwad
2022            JC Buttler

**3. Purple cap (Bowlers who got most wickets each season)**

In [ ]:
# Group the data by season and bowler and count the number of wickets taken
season_bowler_wickets = merged_df.groupby(['Season', 'bowler'])['isWicketDelivery'].sum()

# Reset the index to turn the grouped columns back into regular columns
season_bowler_wickets = season_bowler_wickets.reset_index()

# Find the index of the maximum wickets taken by each season
max_wickets_season_bowler = season_bowler_wickets.groupby('Season')['isWicketDelivery'].idxmax()

# Use the index to get the rows with the maximum wickets taken by each season and bowler
max_wickets_season_bowler_rows = season_bowler_wickets.loc[max_wickets_season_bowler]

# Print the names of the bowlers who got maximum wickets each season
for season, bowler in zip(max_wickets_season_bowler_rows['Season'], max_wickets_season_bowler_rows['bowler']):
    print(f"{season}       {bowler} ")

2007/08       Sohail Tanvir
2009       RP Singh
2009/10       PP Ojha
2011       SL Malinga
2012       M Morkel
2013       DJ Bravo
2014       MM Sharma
2015       DJ Bravo
2016       B Kumar
2017       B Kumar
2018       AJ Tye
2019       K Rabada
2020/21       K Rabada
2021       HV Patel
2022       YS Chahal

**4. Tournament 4's per season**

In [ ]:
import pandas as pd

df=merged_df# Filter the data to only include rows where the batsman scored 4 runs
fours = df[df['batsman_run'] == 4]

# Group the filtered data by season and count the number of rows in each group
fours_by_season = fours.groupby('Season')['batsman_run'].count()

# Convert the Pandas GroupBy object to a Series object
fours_by_season = pd.Series(fours_by_season)

# Print the resulting Pandas Series object
fours_by_season

Season
2007/08    1703
2009       1321
2009/10    1709
2011       1916
2012       1911
2013       2054
2014       1563
2015       1611
2016       1633
2017       1612
2018       1652
2019       1655
2020/21    1589
2021       1551
2022       2020
Name: batsman_run, dtype: int64

**5. Tournament 6's per season**

In [ ]:
# Filter the rows where 6 runs were scored
sixes = merged_df[merged_df['total_run'] == 6]

# Group the data by season and count the number of 6's
season_sixes = sixes.groupby('Season')['total_run'].count()

# Return the Pandas Series object
season_sixes

Season
2007/08     618
2009        504
2009/10     585
2011        634
2012        728
2013        677
2014        711
2015        689
2016        638
2017        702
2018        869
2019        778
2020/21     732
2021        681
2022       1057
Name: total_run, dtype: int64